@model User;

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Lobster&family=Russo+One&family=Send+Flowers&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Outfit:wght@500;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="/css/Sign.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css" />
    <title>Document</title>
</head>
<body>
    <header>
        <form asp-action="Sign" asp-controller="User" method="post">       
            <div class="orta">
        <div class="up">
            <div class="yazi">
                <h1>Qeydiyyat</h1>
            </div>
            <div class="input101">
                <div class="input100">
                <label for="">Ad</label>
                <span asp-validation-for="UserName"></span>
                <input type="text" asp-for="UserName">
                </div>
                <div class="input100">
                            <label for="">Telefon</label>
                 <input type="text" class="inpt2" asp-for="UserPhone">
                            <span asp-validation-for="UserPhone"></span>
                <div class="select">
                    <img src="	https://www.7gul.az/src/img/logo/azerbaijan.png" alt="">
                                <select asp-for="UserTelefonId" asp-items="ViewBag.Telefons">
                        <option value="">50</option>
                    </select>
                </div>
                </div>
                <div class="input100">
                            <label for="">Email</label>
							<input type="text" class="inpt2" asp-for="UserEmail">
                            <span asp-validation-for="UserEmail" class="error"></span>
						</div>                
                <div class="input100">
                <label for="">Şifrə</label>
                <input type="password" asp-for="UserPassword">
                            <span asp-validation-for="UserPassword"></span>

						</div>
					</div>
            <button>Qeydiyyatdan Keç</button>
        </div>
        <div class="orta2">
            <div class="swiper mySwiper">
                <div class="swiper-wrapper">
                    <div class="swiper-slide"><img src="/img/login1.jpg" alt=""></div>
                    <div class="swiper-slide"><img src="/img/login11.jpg" alt=""></div>
                    <div class="swiper-slide"><img src="/img/login5.jpg" alt=""></div>
                    <div class="swiper-slide"><img src="/img/login9.jpg" alt=""></div>
                </div>
                <div class="swiper-pagination"></div>
            </div>
        </div>
        </div>
        </div>
        </form>
            </div>

    </header>
    <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
    <script src="/js/sign.js"></script>
</body>
</html>